.skip-link {
    position: absolute;
    left: -1000px;
    top: 5px;
    z-index: 999;
    background: $main;
    color: $accent-2;
}

.skip-link:focus {
    left:0;
}

// stripping styles
html {
    font-family: $body-font;
    font-size:125%;
    color:$main;
    line-height:1.6;
}

img {
    display:block;
    width:100%;
    max-width: 100%;
}

ul {
    margin:0;
    padding:0;
}

a {
    text-decoration: none;
    color: $accent;
    &:hover,
    &:focus {
        border-bottom: 3px $accent double;
    }
}

.wrapper {
    max-width:1200px;
    margin:0 auto;
}

h1,
h2,
h3 {
    margin:0;
}

// common styling
.about,
.output-area {
    background: $secondary;
}

// heading styles
header {
    min-height:55vh;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)), url(../assets/tiger.jpeg);
    background-position: center;
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: center;
    h1 {
        @include heading(4rem, uppercase, $accent-2);
        border:5px $tertiary outset;
        padding:20px;
    }
}


h2 {
    @include heading(2rem, uppercase, $main);
}

h3 {
    @include heading (1.5rem, initial, $main);
    margin-top:20px;
}

// about section
.about-content {
    padding:5px 0;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    .about-text {
        flex: 1 0 60%;
        border-left: 10px $accent solid;
        padding: 0 5%;
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
    h2 {
        text-align: left;
    }
    .about-image {
        flex: 0 1 20%;
        max-width:40%;
        width:20%;
        border: 10px $main double;
    }
}

// quiz styles
.quiz {
    background:$tertiary;
}

.fieldset {
    display:flex;
    flex-direction: column;
    border:none;
    border-right: 10px $accent solid;
    padding: 20px 5%;
    div {
        display: flex;
        justify-content: center;
    }
    label {
        padding: 10px 30px;
        margin:5px;
        background: $accent;
        color: $main;
        &:hover,
        &:focus {
            background: $main;
            color:$accent-2;
            transition: all ease 0.3s;
        }
    }

    .check {
        background: $main;
        color:$accent-2;
    }

    input[type="radio"] {
        display:none;
    }
}

// button styles
.button-container {
    background-color: $secondary;
    height:10vh;
    display:flex;
    justify-content: center;
    align-items: center;
    border-bottom: 5px $main solid;
}


button {
    min-width:40px;
    padding: 10px 30px;
    border:none;
    display:block;
    background-color:$main;
    color: $tertiary;
    &:hover,
    &:focus {
        color: $accent-2;
        background-color: $accent;
    }
}


// output area styles
.results {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
    img {
        height:500px;
        width:500px;
        margin: 20px 0;
        object-fit: cover;
        border-radius: 50%;
        border: $accent 10px double;
    }
}

// footer styles
footer {
    background: $accent;
    p {
        color: $tertiary;
        text-align: center;
    }
}

// media queries
@media (max-width:1066px) {
    .fieldset:nth-child(2) {
        align-items: center;
        div {
            flex-wrap:wrap;
            width:600px;
        }
    }
}


@media (max-width:882px) {
    .about-content {
        .about-text {
            border-left: none;
        }
        .about-image{
            flex: 1 0 20%;
        }
    }

    .fieldset{
        border-right:none;
    }
}



@media (max-width:720px) {
    header {
        h1 {
            font-size: 3rem;
        }
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    header h1,
    h2 {
        margin-bottom: 10px;
    }
    
    .about-content {
        padding: none;
        .about-text{
            text-align: center;
            padding: 20px 5%;
        }
        h2 {
            text-align: center;
        }
        p {
            margin: 0;
        }
        .about-image {
            display:none;
        }
    }

    .fieldset:nth-child(2) {
        div {
            width:400px;
        }
    }

    .results {
        img {
            height:400px;
            width:400px;
        }
    }
}

@media (max-width:480px) {
    html {
        font-size: 100%;
    }
    
    header {
        h1 {
            font-size:2.2rem;
        }
    }

    .fieldset{
        align-items:center;
        div {
            width:200px;
            flex-direction: column;
        }
        label {
            text-align: center;
        }
    }

    .fieldset:nth-child(2) {
        div {
            width:200px;
        }
    }

    .results {
        img {
            height:300px;
            width:300px;
        }
    }

}

@media (max-width:320px) {
    // rubric shows we need to accomodate for this size- it was considered and all above styles in max-width: 480px translate well to 320px
}