.skip-link {
    position: absolute;
    left: -1000px;
    top: 5px;
    z-index: 999;
    background: black;
    color: white;
}

.skip-link:focus {
    left:0;
}

// stripping styles
html {
    font-family: $body-font;
    font-size:125%;
    color:$black;
    line-height:1.6;
}

img {
    display:block;
    width:100%;
    max-width: 100%;
}

ul {
    margin:0;
    padding:0;
}

.wrapper {
    max-width:1200px;
    margin:0 auto;
}

h1,
h2,
h3 {
    margin:0;
}

// common styling
.about,
.output-area {
    background: $grey;
}

// heading styles
header {
    min-height:55vh;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)), url(../assets/tiger.jpeg);
    background-position: center;
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: center;
    h1 {
        @include heading(4rem, uppercase, $white);
        border:5px $peach outset;
        padding:20px;
        // &:hover {
        //     border:5px $peach inset;
        // }
    }
}


h2 {
    @include heading(2rem, uppercase, $black);
}

h3 {
    @include heading (1.5rem, initial, $black)
}

// about section
.about-content {
    padding:5px 0;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    .about-text {
        flex: 1 0 60%;
        border-left: 10px $pink solid;
        padding: 0 5%;
        // width:90%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        h2 {
            text-align: left;
        }
    }
    .about-image {
        flex: 0 1 20%;
        max-width:40%;
        width:20%;
        border: 10px $black double;
    }
}

// quiz styles
.quiz {
    background:$peach;
}

fieldset {
    display:flex;
    flex-direction: column;
    border:none;
    border-right: 10px $pink solid;
    div {
        display: flex;
        justify-content: center;
    }
    label {
        margin-right:5px;
    }
    input {
        margin-right: 40px;
    }
}

// button styles
.button-container {
    background-color: $grey;
    height:10vh;
    display:flex;
    justify-content: center;
    align-items: center;
    border-bottom: 5px $black solid;
}


button {
    min-width:40px;
    border:none;
    display:block;
    background-color:$black;
    color: $peach;
}

label {
    padding: 10px 30px;
    background: $pink;
    color: $peach;
    &:hover,
    &:focus {
        background: $black;
        transition: all ease 0.2s;
    }
}

input[type="radio"] {
  visibility: hidden; }

// output area styles
.results {
    border-left: 10px $pink solid;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
        height:500px;
        width:500px;
        
        object-fit: cover;
       
        border-radius: 50%;
        border: $pink 10px double;
    }
}



footer {
    background: $pink;
    p {
        color: $peach;
        text-align: center;
    }
}

// media queries
@media (max-width:882px) {
    .about-content {
        .about-text {
            border-left: none;
        }
        .about-image{
            flex: 1 0 20%;
        }
    }

    fieldset {
        border-right:none;
    }

    .results {
        border-left:none;
    }
}

@media (max-width:1080px) {
    // .city-q {
    //     div {
    //         flex-wrap: wrap;
    //         width:600px;
    //     }
    // }
}


@media (max-width:720px) {
    header {
        h1 {
            font-size: 3rem;
        }
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.2rem;
    }
    
    .about-content {
        .about-text{
            text-align: center;
            h2 {
                text-align: center;
            }
        }
        .about-image {
            display:none;
        }
    }


    .results {
        img {
            height:400px;
            width:400px;
        }
    }
}

@media (max-width:480px) {

}

@media (max-width:320px) {

}