// font-family: 'Didact Gothic', sans-serif;
// font-family: 'Arimo', sans-serif;


// variables
$header-font: 'Didact Gothic', sans-serif;
$body-font: 'Arimo', sans-serif;
$black: #161313;
$white: #edfcff;
$pink: #D4A0A7;
$peach: #F2DFD7;
$grey: #D8DBE2;


// mixins
@mixin heading ($font-size, $tt, $color) {
    font-size: $font-size;
    color: $color;
    font-family: $header-font;
    text-transform: $tt;
    line-height: 1.2;
    text-align: center;
}




