// variables
$header-font: 'Didact Gothic', sans-serif;
$body-font: 'Arimo', sans-serif;

// black
$main: #161313;
// pink
$accent: #D4A0A7;
// white
$accent-2: #edfcff;
// grey
$secondary: #D8DBE2;
// peach
$tertiary: #F2DFD7;


// mixins
@mixin heading ($font-size, $tt, $color) {
    font-size: $font-size;
    color: $color;
    font-family: $header-font;
    text-transform: $tt;
    line-height: 1.2;
    text-align: center;
}




