article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: #161313;
  color: #edfcff;
}

.skip-link:focus {
  left: 0;
}

*:focus {
  outline: auto 5px -webkit-focus-ring-color;
}

html {
  font-family: "Arimo", sans-serif;
  font-size: 125%;
  color: #161313;
  line-height: 1.6;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #D4A0A7;
}

a:hover, a:focus {
  border-bottom: 3px #D4A0A7 double;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

h1,
h2,
h3,
legend {
  margin: 0;
}

label {
  visibility: hidden;
  position: absolute;
}

.about,
.output-area {
  background: #D8DBE2;
}

header {
  min-height: 55vh;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.9))), #000 url(../assets/tiger.jpeg);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)), #000 url(../assets/tiger.jpeg);
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header h1 {
  font-size: 4rem;
  color: #edfcff;
  font-family: "Didact Gothic", sans-serif;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  border: 5px #F2DFD7 outset;
  padding: 20px;
}

h2,
legend {
  font-size: 2rem;
  color: #161313;
  font-family: "Didact Gothic", sans-serif;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}

h3 {
  font-size: 1.5rem;
  color: #161313;
  font-family: "Didact Gothic", sans-serif;
  text-transform: initial;
  line-height: 1.2;
  text-align: center;
  margin: 20px 0;
}

.about-content {
  padding: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-content .about-text {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 60%;
          flex: 1 0 60%;
  border-left: 10px #D4A0A7 solid;
  padding: 0 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-content h2 {
  text-align: left;
}

.about-content .about-image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  max-width: 40%;
  width: 20%;
  border: 10px #161313 double;
}

.quiz {
  background: #F2DFD7;
}

.fieldset-container {
  padding: 5px 0;
}

fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  padding: 20px 5%;
}

fieldset legend {
  padding-top: 20px;
  margin-bottom: 20px;
}

select {
  -webkit-appearance: none;
  margin: 0 auto;
  border: none;
  background-image: linear-gradient(45deg, transparent 50%, #D4A0A7 50%), linear-gradient(135deg, #D4A0A7 50%, transparent 50%);
  background-position: calc(100% - 25px) calc(1em + -3px), calc(100% - 15px) calc(1em + -3px);
  background-size: 10px 10px, 10px 10px, 1px 1.5em;
  background-repeat: no-repeat;
}

#down-tri {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid black;
  position: absolute;
}

select, option {
  font-size: 1.1rem;
  padding: 10px;
  min-width: 170px;
}

.button-container {
  background-color: #D8DBE2;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 5px #161313 solid;
}

button {
  min-width: 40px;
  padding: 10px 30px;
  border: none;
  display: block;
  background-color: #161313;
  color: #F2DFD7;
}

button:hover, button:focus {
  color: #161313;
  background-color: #D4A0A7;
}

.results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5%;
}

.results img {
  height: 500px;
  width: 500px;
  margin: 20px 0;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: #D4A0A7 10px double;
}

footer {
  background: #161313;
}

footer p {
  color: #D4A0A7;
  text-align: center;
}

@media (max-width: 1066px) {
  fieldset:nth-child(2) {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  fieldset:nth-child(2) div {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 960px) {
  .about-content .about-text {
    border-left: none;
  }
  .about-content .about-image {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 20%;
            flex: 1 0 20%;
  }
  fieldset {
    border-right: none;
  }
}

@media (max-width: 794px) {
  header h1 {
    font-size: 3rem;
  }
  h2 {
    padding-bottom: 20px;
  }
  legend {
    font-size: 1.5rem;
  }
  header h1,
  legend {
    margin-bottom: 10px;
  }
  .about-content {
    padding: none;
  }
  .about-content .about-text {
    text-align: center;
    padding: 20px 5%;
  }
  .about-content h2 {
    text-align: center;
  }
  .about-content p {
    margin: 0;
  }
  .about-content .about-image {
    display: none;
  }
  .results img {
    height: 400px;
    width: 400px;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 100%;
  }
  header h1 {
    font-size: 2.2rem;
  }
  fieldset {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  fieldset div {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .results img {
    height: 300px;
    width: 300px;
  }
}
/*# sourceMappingURL=style.css.map */